@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply font-sans text-slate-900;
  }
  body,
  #root {
    @apply min-h-screen w-full;
  }
  html {
    @apply overflow-x-hidden;
    scroll-behavior: smooth;
    font-size: clamp(16px, 1.1vw, 22px);
  }
}

.vimeo-bg {
  position: relative;
  overflow: hidden;
}

.vimeo-bg iframe {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  border: none !important;
}

.vimeo-bg > div[style] {
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}
